<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} · {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>

<header class="site-header">
  <nav class="nav">
    <a class="brand">{{ site.title }}</a>
    <div class="nav-links">
      <a href="{{ '/' | relative_url }}">Articles</a>
      <a href="{{ site.baseurl }}/tags.html">Tags</a>
      <a href="{{ '/about' | relative_url }}">About</a>
      <a href="{{ '/experience' | relative_url }}">Experience</a>
    </div>
  </nav>
</header>

<main class="content">
  {{ content }}
</main>

<footer class="site-footer">
    <div class="footer-inner">
      <p class="footer-brand">{{ site.title }}</p>
  
      <nav class="footer-links">
        <a href="{{ '/about' | relative_url }}">About</a>
        <a href="https://www.linkedin.com/in/shubham-jain2310/">LinkedIn</a>
        <a href="https://github.com/jainshubham23">GitHub</a>
      </nav>
  
      <p class="footer-meta">
        © {{ site.time | date: "%Y" }} · Built with love
      </p>
    </div>
  </footer>
  

</body>
</html>
